// COMMON VARIABLES

$fontStyle: "Overpass", sans-serif; // Overpass Font
$windowBackgroundColor: #131518; // very dark blue
$rectangleBackgroundColor: #232a34d5; // black (gradient) - a bit adjusted
$h1FontColor: #ffffff; // pure white
$pFontColor: #969fad; // medium grey


// SUBMIT PAGE SPECIFIC VARIABLES

$iconBackgroundColor: #262e38; // dark blue
$rateNumBackgroundColor: #262e38; // dark blue
$rateNumColor: #969fad; // medium grey
$hoverRatingNumBackgroundColor: #fc7614; // orange
$hoverRatingNumColor: #ffffff; // pure white
$selectedNumBackgroundColor: #969fad; // medium grey
$selectedNumColor: #ffffff; // pure white
$submitBtnBackgroundColor: #fc7614; // orange
$submitBtnTextColor: #ffffff; // pure white
$hoverSubmitBtnBackgroundColor: #ffffff; // pure white
$hoverSubmitBtnTextColor: #fc7614; // orange

// THANK YOU PAGE SPECFIC VARIABLES

$selectedNumColorThankYouPage: #fc7614; // orange
$selectedNumBackgroundColorThankYouPage: #262e38; // dark blue

* {
  //   border: solid red;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $fontStyle;
  background-color: $windowBackgroundColor;
}

.container {
  width: 327px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  background-color: $rectangleBackgroundColor;

  h1 {
    font-size: 24px;
    color: $h1FontColor;
  }

  p {
    color: $pFontColor;
    line-height: 24px;
  }
}

.submit-page {
  width: 279px;
  height: 304px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //   display: none;

  .icon-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $iconBackgroundColor;

    #icon-star {
      width: 13.96px;
      height: 13.33px;
      border-radius: 50%;
    }
  }

  p {
    font-size: 14px;
    align-self: center;
  }

  .ratings {
    width: 281px;
    height: 42px;
    align-self: center;
    display: flex;
    justify-content: space-between;

    .number {
      width: 42px;
      height: 42px;
      align-self: center;
      border-radius: 50%;
      border: none;
      font-weight: 700;
      background-color: $rateNumBackgroundColor;
      color: $rateNumColor;

      &:hover {
        background-color: $hoverRatingNumBackgroundColor;
        color: $hoverRatingNumColor;
        cursor: pointer;
      }

    }
  }

  .submit-btn {
    height: 45px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    background-color: $submitBtnBackgroundColor;
    color: $submitBtnTextColor;
    letter-spacing: 2px;

    &:hover {
      background-color: $hoverSubmitBtnBackgroundColor;
      color: $hoverSubmitBtnTextColor;
      cursor: pointer;
    }
  }
}

.thank-you-page {
  width: 279px;
  height: 289px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    height: 95px;
    width: 144px;
    align-self: center;
  }

  div {
    display: flex;
    justify-content: center;

    p {
      width: 168px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      border-radius: 25px;
      background-color: $selectedNumBackgroundColorThankYouPage;
      color: $selectedNumColorThankYouPage;
    }
  }

  h1 {
    text-align: center;
  }

  p {
    font-size: 14px;
    text-align: center;
  }
}

.hidden {
  display: none;
}

@media (min-width: 1440px) {
  .container {
    width: 412px;
    height: 416px;

    h1 {
      color: $h1FontColor;
      font-size: 28px;
    }

    p {
      font-size: 15px;
    }
  }

  .submit-page {
    width: 340px;
    height: 352px;

    .icon-container {
      width: 48px;
      height: 48px;
      margin-bottom: 10px;

      #icon-star {
        width: 16.75px;
        height: 16px;
      }
    }

    h1 {
      margin-bottom: -10px;
    }

    .ratings {
      width: 341px;
      height: 51px;
      margin-bottom: 10px;

      .number {
        width: 51px;
        height: 51px;
        font-size: 14px;
      }
    }
  }

  .thank-you-page {
    width: 340px;
    height: 325px;

    img {
      width: 162px;
      height: 108px;
    }

    div {
      p {
        width: 193px;
      }
    }

    h1 {
      margin: 0px 0 -25px 0;
    }
  }
}
